* {
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

#collapsed {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 25%;
    font-size: 150%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.1s ease-in;
}

.hidden {
    visibility: collapse;
    opacity: 0;
    transition: visibility 0s 0.1s, opacity 0.1s ease-in;
}

#innerMenu {
    display: flexbox;
    justify-content: center;
    align-items: center;
}

#menu {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    border: 2px solid white;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5%; 
    transition: scale 0.2s linear;
    box-sizing: border-box;
}

#menu.collapsed {
    border-radius: 100%;
    transition: border-radius 0.1 ease-in;
}

#statusButtons {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

i.action {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

i.quick {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colorButton {
    border: none;
    height: 25px;
    width: 25px;
    margin-right: 5px;
    border-radius: 100%;

    border: solid;
    border-color: white;
    border-width: 2px;

    cursor: pointer;
}

#colorLabel {
    font-size: 12px;
    color: white;
}

#colorButtons {
    display: flex;
}

#colorSelection {
    margin-left: 10px;
    display: flex;
}

#addNewColorButton {
    border-radius: 100%;
    height: 25px;
    width: 25px;
    cursor: pointer;
    
    background-color: #D9D9D9;
}

#colorSelector {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0%;
    visibility: hidden;
}

#colors {
    margin-top: 10px;
}

i.black {
    color: black;
}

.statusButton {
    border: none;
    outline: none;
    margin-left: 10px;
    border-radius: 30%;
    height: 48px;
    width: 48px;
    outline: 2px solid white;
    background-color: black;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.statusButton:hover {
    background-color: rgba(70,70,70);
}

.quickButton:hover {
    background-color: rgba(70,70,70);
}

.statusButton.selected:hover {
    background-color: white;
}

.glow {
    background-image: radial-gradient(closest-side,rgba(255,255,255,0.4),transparent);
    background-repeat: no-repeat;
    background-position-y: 17px;
    position: absolute;
    left: 0;
    top: 0;
    scale: 1.5;
    width: 100%;
    height: 100%;
    z-index: 5;
}

#footerButtons {
    margin-left: 10px;
    margin-top: 10px;
}

#quickActions {
    margin-top: 10px;
    margin-left: 5px;
}

.quickButton {
    border: none;
    outline: none;
    margin-right: 2px;
    border-radius: 100%;
    border: solid white 2px;
    background-color: black;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.selected {
    background-color: white;
    outline-color: black;
}

.fi {
    width: 100%;
    height: 100%;
    color: white;
}

.selected .fi {
    color: black;
}

#sliderOutside {
    position: relative;
    display: flex;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
}

.slider {
    /*background: linear-gradient(180deg,rgba(0, 0, 0, 0) 47%, rgba(255, 255, 255, 1) 47%, rgba(255, 255, 255, 1) 59%, rgba(0, 0, 0, 0) 59%);*/
    background: white;
    position: absolute;
    background-clip: padding-box;
    height: 3px;
    border-radius: 5px;
    margin-left: 10px;
}

.slider:hover {
    height: 5px;
}

.slider::-moz-range-track {
    height: 25px;
}

.slider::-webkit-slider-runnable-track {
    height: 25px;
}

.label {
    padding: 0;
    color: white;
    margin-left: 10px;
    font-size: 12px;
    margin-bottom: 7px;
}

i.labelicon {
    font-size: 8px;
    vertical-align: middle;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px;
  border-radius: 50%; 
  border-color: white;
  border-width: 2px;
  background: #000000; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 15px; /* Set a specific slider handle width */
  height: 15px;
  border-radius: 50%; 
  border-width: 2px;
  border-color: white;
  background: #000000; /* Green background */
  cursor: pointer;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}