* {
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

#collapsed {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 25%;
    font-size: 150%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.1s ease-in;
}

.hidden {
    visibility: collapse;
    opacity: 0;
    transition: visibility 0s 0.1s, opacity 0.1s ease-in;
}

#innerMenu {
    display: flexbox;
    justify-content: center;
    align-items: center;
}

#menu {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 200px;
    height: 260px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5%; 
    transition: scale 0.2s linear;
}

#menu.collapsed {
    border-radius: 100%;
    transition: border-radius 0.1 ease-in;
}

#statusButtons {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

i.action {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colorButton {
    border: none;
    padding: 15px;
}

.colorButton.selected {
    border: solid;
    border-color: white;
    border-width: 2px;
}

#colorLabel {
    font-size: 12px;
    color: white;
}


#colorSelection {
    display: flex;
}

#addNewColorButton {
    position: relative;
    padding: 5px;
    background-color: white;
}

#colorSelector {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0%;
}

.statusButton {
    border: none;
    outline: none;
    margin-left: 10px;
    border-radius: 30%;
    height: 48px;
    width: 48px;
    border: 2px solid white;
    background-color: black;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.statusButton:hover {
    background-color: rgba(30,30,30);
}

.statusButton.selected:hover {
    background-color: white;
}

.glow {
    background-image: radial-gradient(closest-side,rgba(255,255,255,0.4),transparent);
    background-repeat: no-repeat;
    background-position-y: 17px;
    position: absolute;
    left: 0;
    top: 0;
    scale: 1.5;
    width: 100%;
    height: 100%;
    z-index: 5;
}

#footerButtons {
    padding-top: 5px;
    padding-left: 5px;
}

#quickActions {
    padding-left: 5px;
    padding-top: 5px;
}

.quickButton {
    border: none;
    outline: none;
    margin-left: 5px;
    border-radius: 100%;
    outline-style: solid;
    outline-color: white;
    outline-width: 2px;
    background-color: black;
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.selected {
    background-color: white;
    outline-color: black;
}

.fi {
    width: 100%;
    height: 100%;
    color: white;
}

.selected .fi {
    color: black;
}

.slider {
    appearance: none;
    background-color: white;
    height: 2px;
    border-radius: 5px;
    margin-left: 10px;
}

.label {
    color: white;
    margin-left: 10px;
    margin-bottom: -10px;
    font-size: 12px;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px;
  border-radius: 50%; 
  border-color: white;
  border-width: 2px;
  background: #000000; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 15px; /* Set a specific slider handle width */
  height: 15px;
  border-radius: 50%; 
  border-width: 2px;
  border-color: white;
  background: #000000; /* Green background */
  cursor: pointer;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}